body {
    background-color: #D1ECE7;
    font-family: 'qilka-bold';
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
}

a {
    -webkit-tap-highlight-color: transparent;
}